*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  background: rgb(175, 234, 236);
  font-family: 'Nunito Sans', sans-serif
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../src/fonts/NunitoSans-Regular.woff2') format('woff2'),
      url('../src/fonts/NunitoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.flex-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}
